<html>

    <head>
        <title>Investor</title>
        <!--- css image tags --->
        
        <link rel="stylesheet" type="text/css" href="public/css/header.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/videoimage.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/searchbar.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/aboutdesign/aboutformat.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/footer/copywrite.css">
            
        <!--- css links end --->
        
        
        <!-- Latest compiled and minified CSS -->
        
    </head>
    
<body class="bodycolor">
        <header> 
            
        </header>
    
    <nav>
            
        <ul id="display-inline-block-example">
            <a href="/"><li class="investorlogo">Investor</li></a>
            <center>
            <div class="lidesign">
            
            <a href="about"><li class="browsestyle">About</li></a>
            <li class="forumstyle">Past Videos</li>
            &nbsp;
            &nbsp;
            <a href="forumpage"><li class="aboutstyle">Forum</li></a>
                       
            <li class="searchbarstyle">
            <form id="searchbox" action="">
            <input id="search" type="text" placeholder="Type here">
            <input id="submit" type="submit" value="Search">
            </form>
             </li>   
            </div>
            
            </center>
        </ul>
    
        </nav>       
<br>
<br>
<br>
<br>
    
    <div class="descriptbox">
    
    <p class="aboutalign">Investor.com is an online community platform for individuals who are interested in stock analysis and investing. The platfrom allows investors to learn from each other.</p>
    
    <p class="pabout"></p>  <!-- creating spaces -->
        
    <p class="aboutalign">Investors would share their analysis and insight via video. Other investor would provide their opinion and recommendation.</p>
        
    <p class="pabout"></p>  <!-- creating spaces -->
        
    <p class="aboutalign">In essence, the goal of Investor.com is to help investor grow in their knowledge and make great investments.</p>
        
    <p class="pabout"></p>  <!-- creating spaces -->
    
    <p class="aboutalign">Best</p>
        
    <p class="aboutalign">Marvin Mensah </p>
        
    </div>
    
    <br>
    <br>
    <br>
         
         
    <footer>
        
        <p class="copywrite">&copy; 2016 Investor</p>
        
    <!-- bootstrap -->
  
        
    </footer>
    
    
    
    </body>

</html>