<html>

    <head>
        <title>Investor</title>
        <!--- css image tags --->
        
        <link rel="stylesheet" type="text/css" href="public/css/header.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/videoimage.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/searchbar.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/footer/copywrite.css">
            
        <!--- css links end --->
        
        
        <!-- Latest compiled and minified CSS -->
        
    </head>
    
<body class="bodycolor">
        <header> 
            
        </header>
    
    <nav>
            
        <ul id="display-inline-block-example">
            <a href='/'><li class="investorlogo">Investor</li></a>
            <center>
            <div class="lidesign">
            
            <a href="about"><li class="browsestyle">About</li></a>
            <li class="forumstyle">Past Videos</li>
            &nbsp;
            &nbsp;
            <a href="forumpage"><li class="aboutstyle">Forum</li></a>
                
           
                
            <li class="searchbarstyle">
            <form id="searchbox" action="">
    <input id="search" type="text" placeholder="Type here">
    <input id="submit" type="submit" value="Search">
            </form>
             </li>   
            </div>
            
            </center>
        </ul>
    
        </nav>       

    <br>

    <span style="display:none;">***</span>
<script type="text/javascript" language="javascript" id="pnyxeForumItJs" src="https://www.pnyxe.shadow.com/PnyxeForumItJs.jsp"></script>
<script type="text/javascript" language="javascript" id="pnyxeForumItInitJs236206">try { var zpbw_webWidgetClientKey = "3O7.9HlGlzZeKcNaiWaW0w"; var pnyxeForumIt = new PnyxeForumIt(); pnyxeForumIt.init("236206"); } catch (e) {}</script>
<noscript><a href="https://www.pnyxe.shadow.com/ForumIt-forum-widget?utm_source=wwcCodeSpanPromotion5" rel="nofollow">Forum Widget</a></noscript>
   
         
    <footer>
        
        <p class="copywrite">&copy; 2016 Investor</p>
        
    <!-- bootstrap -->
  
        
    </footer>
    
    
    </body>

</html>