<html>

    <head>
        <title>Investor</title>
        <!--- css image tags --->
        
        <link rel="stylesheet" type="text/css" href="public/css/header.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/videoimage.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/searchbar.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/footer/copywrite.css">
            
        <!--- css links end --->
        
        
        <!-- Latest compiled and minified CSS -->
        
    </head>
    
<body class="backgroundcolor">
        <header> 
            
        </header>
    
    <nav>
            
           <ul id="display-inline-block-example">
               
            <div>
            <a href='index'><li class="investorlogo">Investor</li></a>
             &nbsp;  
             </div>
               
            <div class="lidesign">
                
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
                
            <a href="about">&nbsp;<li class="browsestyle">About</li></a>
            <li class="forumstyle">Past Videos</li>
            &nbsp;
            &nbsp;
            <a href="forumpage"><li class="aboutstyle">Forum</li></a>
                
           
                
            <li class="searchbarstyle">
            <form id="searchbox" action="">
    <input id="search" type="text" placeholder="Type here">
    <input id="submit" type="submit" value="Search">
            </form>
             </li>   
            </div>
            
        
        </ul>
    
        </nav>       
    
    <br>
    <br>
         
    <center>
       
        
        
    <div class="itempepsi">
        <div class="contain">
        <img src="public/images/pepsi1.jpg"/>
        <a href="/videopage"><div class="videoplay"><img src="public/images/playbox.png"></div></a>
       <div class="container">
       <div class="middle">
       </div>  
    </div>
       </div>       
        <span class="caption">Text below the image</span>
</div>
        
 <div class="itempepsi">
        <div class="contain">
        <img src="public/images/pepsi1.jpg"/>
        <a href="/videopage"><div class="videoplay1"><img src="public/images/playbox.png"></div></a>
       <div class="container">
       <div class="middle">
       </div>  
    </div>
       </div>       
        <span class="caption">Text below the image</span>
</div>   
        
            
    <br>
    <br>
    <br> 
        
<div class="itempepsi">
        <div class="contain">
        <img src="public/images/pepsi1.jpg"/>
        <a href="/videopage"><div class="videoplay3"><img src="public/images/playbox.png"></div></a>
       <div class="container">
       <div class="middle">
       </div>  
    </div>
       </div>       
        <span class="caption">Text below the image</span>
</div>
        
<div class="itempepsi">
        <div class="contain">
        <img src="public/images/goldman.png"/>
        <a href="/videopage"><div class="videoplay4"><img src="public/images/playbox.png"></div></a>
       <div class="container">
       <div class="middle">
       </div>  
    </div>
       </div>       
        <span class="caption">Text below the image</span>
</div>
    
        <br>
        <br>
        
        </center>
    
    <footer>
        
        <p class="copywrite">&copy; 2016 Investor</p>
        
    <!-- bootstrap -->
  
        
    </footer>
    
    </body>

</html>