<html>

    <head>
        <title>Investor</title>
        <!--- css image tags --->
        
        <link rel="stylesheet" type="text/css" href="public/css/header.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/videoimage.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/footer/copywrite.css">
            
        <!--- css links end --->
        
        
        <!-- Latest compiled and minified CSS -->
        
    </head>
    
<body class="bodycolor">
        <header> 
            
        </header>
    
    <nav>
            
        <ul id="display-inline-block-example">
            <li class="investorlogo">Investor</li>
            <center>
            <div class="lidesign">
            <li class="browsestyle">About</li>
            <li class="forumstyle">Past Videos</li>
            <li class="aboutstyle">Forum</li>
            </center>
        </ul>
    
        </nav>       
    
    <br>
    <br>
    <br>
         
         
    <footer>
        
        <p class="copywrite">&copy; 2016 Investor</p>
        
    <!-- bootstrap -->
  
        
    </footer>
    
    
    
    </body>

</html>