<html>

    <head>
        <title>Investor</title>
        <!--- css image tags --->
        
        <link rel="stylesheet" type="text/css" href="public/css/header.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/videoimage.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/searchbar.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/footer/copywrite.css">
        
        <link rel="stylesheet" type="text/css" href="public/css/imagevideo/videodesign.css">
            
        <!--- css links end --->
        
        <!-- Latest compiled and minified CSS -->
        
    </head>
    
<body class="bodycolor">
        <header> 
            
        </header>
    
       <nav>
            
           <ul id="display-inline-block-example">
            <a href='/'><li class="investorlogo">Investor</li></a>
            <center>
            <div class="lidesign"> 
            
            &emsp;    
                
            <a href="about"><li class="browsestyle">About</li></a>
            <li class="forumstyle">Past Videos</li>
            &nbsp;
            &nbsp;
            <a href="forumpage"><li class="aboutstyle">Forum</li></a>
                
                
            <li class="searchbarstyle">
            <form id="searchbox" action="">
    <input id="search" type="text" placeholder="Type here">
    <input id="submit" type="submit" value="Search">
            </form>
             </li>   
            </div>
            
            </center>
        </ul>
    
        </nav>       
    <br>
    
   <div> 
       <center class="videodisplay">
       <iframe width="800" height="450" src="https://www.youtube.com/embed/u8MRTnKtAUI" frameborder="0" allowfullscreen></iframe>
       </center>
   </div>
    <br>
    
    <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//investor2.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
    <footer>
        
        <p class="copywrite">&copy; 2016 Investor</p>
        
    <!-- bootstrap -->
  
        
    </footer>
    
    <script id="dsq-count-scr" src="//investor2.disqus.com/count.js" async></script>
    </body>

</html>